/target/
/src/main/webapp/resources/ultima-layout/
/src/main/resources/payara/production/dbUserPassword
/src/main/webapp/WEB-INF/document/images/logo.png
/bin/
/src/main/resources/operations/production/initial.gz
/src/main/resources/operations/mailPassword
/src/main/resources/operations/production/mailPassword